
     /* Carrousal */
     .row{
        padding: 0;
        margin: 0;
      }
  
      .SlideIMG {
          display: none;
          margin: 1%;
        }
  
      .Parent {
        position: relative;
        margin: auto;
      }
  
      .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        font-size: 3vw;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        transition: 0.6s;
      }
  
      .next {
        right: 1%;
        border-radius: 3px 0 0 3px;
      }
      .prev {
        left: 1%;
        border-radius: 3px 0 0 3px;
      }
  
      .prev:hover, .next:hover {
       background-color: rgba(0,0,0,0.8);
      }
  
      .text {
        color: #f2f2f2;
        font-size: 3vw;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      }
      #CreatedBy{
        color: white;
        font-family: cursive;
        font-size: 3vw;
  
      }
      .styleBTN{
        padding-left: 2%;
        padding-right: 2%;
        border: 0;
        border-radius: 20px;
      }
  
      /* ~ Modal */
  
      /* Games body */
      #games-body{
        height: 40vw;
        width: 100%;
      }
      #Paranoia{
        height: 100%;
        width: 90%;
        margin-left: 5%;
        border: .5vw solid black
        
      }
  
  
      #ParaCanvas {
        background: #eee;
        display: block;
        margin: 0 auto;
      }
      #ParaNewGame{
        font-size: 4vw;
        border: 0;
  
      }